In [1]:
import pandas as pd
import numpy as np
import re
import datetime

In [2]:
DTR = pd.read_excel("Transaction History (AIB2).xls")

In [3]:
DTR.head(1)

,unit_id,tnx_date,tnx_no,batch_no,acc_unit_id,account_no,account_title,post_date,value_date,release_date,...,charge_code,trans_amt_type,drcr_flag,doc_id,instrument_no,narrative,trans_type,product_code,emp_id,tr_time
0,136,2021-08-02,52,999998,136,102535695013,MUHAMMAD ARSHAD,2021-08-02,2021-08-02,NaT,...,,TRAN,C,VCH,13627794,POSTED,CSH,CD,5777,09:48:04

# -------- cash deposit display ----------

In [4]:
cash = DTR.copy()
cash1 = cash[cash["txn_code"] == 300]
cash12 = cash[cash["txn_code"] == 640]
frames = [cash1, cash12]
cash_late = pd.concat(frames)
cash_late["tr_time"]
cash_late["tr_time"] = cash_late["tr_time"].astype('datetime64[ns]')

cash_late['time']= cash_late["tr_time"].dt.time
time_Cash = cash_late.set_index('tr_time').between_time('18:30:00', '23:00:00')
deposit_late = time_Cash[['unit_id', 'tnx_date', 'tnx_no', 'batch_no', 'acc_unit_id',
       'account_no', 'account_title', 'post_date', 'value_date',
       'release_date', 'txn_code', 'currency_code', 'amount', 'local_eqv',
       'ex_rate', 'ex_rate_code', 'vch_narration', 'charge_code',
       'trans_amt_type', 'drcr_flag', 'doc_id', 'instrument_no', 'narrative',
       'trans_type', 'product_code', 'emp_id', 'time']].reset_index()
deposit_late

,tr_time,unit_id,tnx_date,tnx_no,batch_no,acc_unit_id,account_no,account_title,post_date,value_date,...,charge_code,trans_amt_type,drcr_flag,doc_id,instrument_no,narrative,trans_type,product_code,emp_id,time
0,2023-08-21 18:44:34,136,2022-01-07,252,999998,136,120562550038,ANAND KUMAR,2022-01-07,2022-01-07,...,,TRAN,C,VCH,'',POSTED,CSH,MUD,5399,18:44:34
1,2023-08-21 18:47:54,136,2022-01-07,253,999998,136,120562550038,ANAND KUMAR,2022-01-07,2022-01-07,...,,TRAN,C,VCH,'',POSTED,CSH,MUD,5399,18:47:54
2,2023-08-21 19:15:38,136,2022-02-04,230,999998,136,90111025,CASH IN ATM,2022-02-04,2022-02-04,...,,TRAN,C,VCH,'',POSTED,CSH,GL,6676,19:15:38
3,2023-08-21 18:32:51,136,2022-03-04,380,999998,136,102292295011,SASHA JAMEEL,2022-03-04,2022-03-04,...,,TRAN,C,VCH,16386662,POSTED,CSH,CD,6676,18:32:51
4,2023-08-21 19:01:08,136,2022-03-04,382,999998,136,90111025,CASH IN ATM,2022-03-04,2022-03-04,...,,TRAN,C,VCH,'',POSTED,CSH,GL,6676,19:01:08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,2023-08-21 19:15:12,136,2023-06-09,152,999991,7771,95411017,H/O REALTIME ONLINE INTER BRANCH - CURRENT ACC...,2023-06-09,2023-06-09,...,,RESBRH,D,VCH,0,POSTED,INTBRH,GL,3125,19:15:12
85,2023-08-21 18:49:22,136,2023-06-26,238,43,7771,85911011,H/O REALTIME ONLINE INTER BRANCH - CURRENT ACC...,2023-06-26,2023-06-26,...,,CONT,C,VCH,0,POSTED,INTBRH,GL,8000,18:49:22
86,2023-08-21 18:49:22,136,2023-06-26,239,43,7771,90111014,CASH - LOCAL,2023-06-26,2023-06-26,...,,ORGBRH,D,VCH,0,POSTED,INTBRH,GL,8000,18:49:22
87,2023-08-21 18:56:25,136,2023-06-27,178,999991,7771,90113016,CASH IN TRANSIT - PKRS,2023-06-27,2023-06-27,...,,RESBRH,C,VCH,0,POSTED,INTBRH,GL,3125,18:56:25
88,2023-08-21 18:56:25,136,2023-06-27,179,999991,7771,95411017,H/O REALTIME ONLINE INTER BRANCH - CURRENT ACC...,2023-06-27,2023-06-27,...,,RESBRH,D,VCH,0,POSTED,INTBRH,GL,3125,18:56:25

# ---------------- withdraawl delay ---------

In [5]:
cash = DTR.copy()
w1 = cash[cash["txn_code"] == 319]
w2 = cash[cash["txn_code"] == 651]
frames_w = [w1, w2]
w_late = pd.concat(frames_w)
w_late["tr_time"]
w_late["tr_time"] = w_late["tr_time"].astype('datetime64[ns]')

w_late['time']= w_late["tr_time"].dt.time
time_Cash_w = w_late.set_index('tr_time').between_time('18:30:00', '23:00:00')
w_late = time_Cash_w[['unit_id', 'tnx_date', 'tnx_no', 'batch_no', 'acc_unit_id',
       'account_no', 'account_title', 'post_date', 'value_date',
       'release_date', 'txn_code', 'currency_code', 'amount', 'local_eqv',
       'ex_rate', 'ex_rate_code', 'vch_narration', 'charge_code',
       'trans_amt_type', 'drcr_flag', 'doc_id', 'instrument_no', 'narrative',
       'trans_type', 'product_code', 'emp_id', 'time']].reset_index()
w_late

,tr_time,unit_id,tnx_date,tnx_no,batch_no,acc_unit_id,account_no,account_title,post_date,value_date,...,charge_code,trans_amt_type,drcr_flag,doc_id,instrument_no,narrative,trans_type,product_code,emp_id,time
0,2023-08-21 18:47:03,136,2022-02-23,131,999998,136,110291538013,REHAN YOUNUS SURYA,2022-02-23,2022-02-23,...,,TRAN,D,CHQ,28549756,POSTED,CSH,MUD,6676,18:47:03
1,2023-08-21 18:32:59,136,2022-02-28,169,999998,136,102556867013,MUHAMMAD SHIRAZ,2022-02-28,2022-02-28,...,,TRAN,D,CHQ,28311449,POSTED,CSH,CD,6676,18:32:59
2,2023-08-21 19:05:52,136,2022-03-03,135,999998,136,110291484018,SHAIKH M BARIN UDDIN / GAITI BARIN UDDIN,2022-03-03,2022-03-03,...,,TRAN,D,CHQ,21869831,POSTED,CSH,MUD,6676,19:05:52
3,2023-08-21 19:06:32,136,2022-03-03,136,999998,136,106291484902,SHAIKH MUHAMMAD BARIN UDDIN / GAITI BARIN UDDIN,2022-03-03,2022-03-03,...,,TRAN,D,CHQ,27509032,POSTED,CSH,ABPLSC,6676,19:06:32
4,2023-08-21 18:38:31,136,2022-03-22,93,999998,136,120562550038,ANAND KUMAR,2022-03-22,2022-03-22,...,,TRAN,D,CHQ,28527846,POSTED,CSH,MUD,6676,18:38:31
5,2023-08-21 18:41:53,136,2022-03-30,162,999998,136,120562550038,ANAND KUMAR,2022-03-30,2022-03-30,...,,TRAN,D,CHQ,28527847,POSTED,CSH,MUD,6676,18:41:53
6,2023-08-21 20:11:53,136,2022-05-10,163,999998,136,102572757010,AZHAR IQBAL,2022-05-10,2022-05-10,...,,TRAN,D,CHQ,29022796,POSTED,CSH,CD,6676,20:11:53
7,2023-08-21 18:34:40,136,2022-05-26,124,999998,136,102571593011,FAIZ,2022-05-26,2022-05-26,...,,TRAN,D,CHQ,28937066,POSTED,CSH,CD,6676,18:34:40
8,2023-08-21 22:04:14,136,2022-05-31,141,999998,136,102571593011,FAIZ,2022-05-31,2022-05-31,...,,TRAN,D,CHQ,28937068,POSTED,CSH,CD,6676,22:04:14
9,2023-08-21 18:33:24,136,2022-06-01,156,999998,136,102567338015,ATHAR VIQAR AZIM,2022-06-01,2022-06-01,...,,TRAN,D,CHQ,28801453,POSTED,CSH,CD,6676,18:33:24
10,2023-08-21 18:43:06,136,2022-06-06,346,999998,136,120562550038,ANAND KUMAR,2022-06-06,2022-06-06,...,,TRAN,D,CHQ,28527852,POSTED,CSH,MUD,6676,18:43:06
11,2023-08-21 19:04:34,136,2022-06-24,118,999998,136,102571593011,FAIZ,2022-06-24,2022-06-24,...,,TRAN,D,CHQ,28937075,POSTED,CSH,CD,6676,19:04:34
12,2023-08-21 18:39:27,136,2022-07-14,92,999998,136,102567338015,ATHAR VIQAR AZIM,2022-07-14,2022-07-14,...,,TRAN,D,CHQ,28801454,POSTED,CSH,CD,6676,18:39:27
13,2023-08-21 18:46:52,136,2022-07-22,63,999998,136,102571593011,FAIZ,2022-07-22,2022-07-22,...,,TRAN,D,CHQ,29375895,POSTED,CSH,CD,6676,18:46:52
14,2023-08-21 18:34:56,136,2022-09-29,104,999998,136,102571593011,FAIZ,2022-09-29,2022-09-29,...,,TRAN,D,CHQ,29375921,POSTED,CSH,CD,6676,18:34:56
15,2023-08-21 19:37:22,136,2021-09-23,60,999991,104,102291400015,SHAHID LASHARI BALOCH,2021-09-23,2021-09-23,...,,RESBRH,D,CHQ,21810201,POSTED,INTBRH,CD,6449,19:37:22
16,2023-08-21 19:37:22,136,2021-09-23,61,999991,104,85911011,H/O REALTIME ONLINE INTER BRANCH - CURRENT ACC...,2021-09-23,2021-09-23,...,,RESBRH,C,VCH,21810201,POSTED,INTBRH,GL,6449,19:37:22
17,2023-08-21 19:24:18,136,2021-09-29,151,999991,104,102291400015,SHAHID LASHARI BALOCH,2021-09-29,2021-09-29,...,,RESBRH,D,CHQ,21810204,POSTED,INTBRH,CD,6449,19:24:18
18,2023-08-21 19:24:18,136,2021-09-29,152,999991,104,85911011,H/O REALTIME ONLINE INTER BRANCH - CURRENT ACC...,2021-09-29,2021-09-29,...,,RESBRH,C,VCH,21810204,POSTED,INTBRH,GL,6449,19:24:18
19,2023-08-21 19:25:56,136,2021-09-29,153,999991,104,102291400015,SHAHID LASHARI BALOCH,2021-09-29,2021-09-29,...,,RESBRH,D,CHQ,21810203,POSTED,INTBRH,CD,6449,19:25:56
20,2023-08-21 19:25:56,136,2021-09-29,154,999991,104,85911011,H/O REALTIME ONLINE INTER BRANCH - CURRENT ACC...,2021-09-29,2021-09-29,...,,RESBRH,C,VCH,21810203,POSTED,INTBRH,GL,6449,19:25:56
21,2023-08-21 19:29:39,136,2021-12-03,164,54,117,95411017,H/O REALTIME ONLINE INTER BRANCH - CURRENT ACC...,2021-12-03,2021-12-03,...,,ORGBRH,D,VCH,25776952,POSTED,INTBRH,GL,6247,19:29:39
22,2023-08-21 19:29:39,136,2021-12-03,165,54,117,90111014,CASH - LOCAL,2021-12-03,2021-12-03,...,,ORGBRH,C,VCH,25776952,POSTED,INTBRH,GL,6247,19:29:39
23,2023-08-21 18:33:38,136,2022-02-25,82,21,155,95411017,H/O REALTIME ONLINE INTER BRANCH - CURRENT ACC...,2022-02-25,2022-02-25,...,,ORGBRH,D,VCH,28644313,POSTED,INTBRH,GL,6676,18:33:38
24,2023-08-21 18:33:38,136,2022-02-25,83,21,155,90111014,CASH - LOCAL,2022-02-25,2022-02-25,...,,ORGBRH,C,VCH,28644313,POSTED,INTBRH,GL,6676,18:33:38
25,2023-08-21 19:21:34,136,2022-07-06,258,999991,157,102490311017,SYED SAEED AFTAB,2022-07-06,2022-07-06,...,,RESBRH,D,CHQ,26192788,POSTED,INTBRH,CD,6879,19:21:34
26,2023-08-21 19:21:34,136,2022-07-06,259,999991,157,85911011,H/O REALTIME ONLINE INTER BRANCH - CURRENT ACC...,2022-07-06,2022-07-06,...,,RESBRH,C,VCH,26192788,POSTED,INTBRH,GL,6879,19:21:34
27,2023-08-21 18:41:28,136,2023-01-10,170,60,157,95411017,H/O REALTIME ONLINE INTER BRANCH - CURRENT ACC...,2023-01-10,2023-01-10,...,,ORGBRH,D,VCH,28890506,POSTED,INTBRH,GL,8000,18:41:28
28,2023-08-21 18:41:28,136,2023-01-10,171,60,157,90111014,CASH - LOCAL,2023-01-10,2023-01-10,...,,ORGBRH,C,VCH,28890506,POSTED,INTBRH,GL,8000,18:41:28

#converting sheets into one output 
with pd.ExcelWriter('output.xlsx') as writer:  # doctest: +SKIP
    w_late.to_excel(writer, sheet_name='Withdrawl_late')
    deposit_late.to_excel(writer, sheet_name='deposit_late')

# --------- Inward Clearing ------------

In [6]:
inward = DTR.copy()
#349

In [7]:
inw = inward[inward["txn_code"] == 349]

inw["tr_time"] =inw["tr_time"].astype('datetime64[ns]')
inw['time']= inw["tr_time"].dt.time
inw_c =inw.set_index('tr_time').between_time('13:30:00', '23:00:00')

inw_c.reset_index(inplace= True)

inward_clearing = inw_c[inw_c["trans_type"]=='INCLR' ]

inward_clearing

<ipython-input-7-36972f0bce31>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  inw["tr_time"] =inw["tr_time"].astype('datetime64[ns]')
<ipython-input-7-36972f0bce31>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  inw['time']= inw["tr_time"].dt.time

,tr_time,unit_id,tnx_date,tnx_no,batch_no,acc_unit_id,account_no,account_title,post_date,value_date,...,charge_code,trans_amt_type,drcr_flag,doc_id,instrument_no,narrative,trans_type,product_code,emp_id,time
4,2023-08-21 15:02:57,136,2021-08-12,82,0,136,102535695013,MUHAMMAD ARSHAD,2021-08-12,2021-08-12,...,INWCH,TRAN,D,VCH,27538696,POSTED,INCLR,CD,5989,15:02:57
5,2023-08-21 15:02:57,136,2021-08-12,83,0,136,102535695013,MUHAMMAD ARSHAD,2021-08-12,2021-08-12,...,FED,CHG,D,VCH,27538696,POSTED,INCLR,CD,5989,15:02:57
6,2023-08-21 14:58:44,136,2021-08-27,44,0,136,102535695013,MUHAMMAD ARSHAD,2021-08-27,2021-08-27,...,INWCH,TRAN,D,VCH,27538712,POSTED,INCLR,CD,6330,14:58:44
7,2023-08-21 14:58:44,136,2021-08-27,45,0,136,102535695013,MUHAMMAD ARSHAD,2021-08-27,2021-08-27,...,FED,CHG,D,VCH,27538712,POSTED,INCLR,CD,6330,14:58:44
8,2023-08-21 15:34:52,136,2021-08-31,24,0,136,102535695013,MUHAMMAD ARSHAD,2021-08-31,2021-08-31,...,INWCH,TRAN,D,VCH,27538706,POSTED,INCLR,CD,5989,15:34:52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
414,2023-08-21 15:10:22,136,2023-06-26,163,0,136,80171106,ISLAMIC CALL DEPOSIT RECEIPT,2023-06-26,2023-06-26,...,,TRAN,D,ICD,1364000017,POSTED,INCLR,GL,6330,15:10:22
415,2023-08-21 13:33:48,136,2023-07-05,32,0,136,102292330017,PRIME HUMAN RESOURCE SERVICES PVT LTD,2023-07-05,2023-07-05,...,,TRAN,D,CHQ,29355535,POSTED,INCLR,CD,6330,13:33:48
420,2023-08-21 13:30:38,136,2023-07-18,45,0,136,102335081020,RAFIA PARVEEN,2023-07-18,2023-07-18,...,,TRAN,D,CHQ,30481296,POSTED,INCLR,CD,6330,13:30:38
421,2023-08-21 13:30:38,136,2023-07-18,46,0,136,102335081020,RAFIA PARVEEN,2023-07-18,2023-07-18,...,,TRAN,D,CHQ,30481297,POSTED,INCLR,CD,6330,13:30:38
422,2023-08-21 13:34:41,136,2023-07-19,47,0,136,120227587039,GHULAM MURTAZA MORAI,2023-07-19,2023-07-19,...,,TRAN,D,CHQ,29344781,POSTED,INCLR,MUD,5314,13:34:41

# ----------- STAN NO 641 ---------------

In [8]:
stan = DTR.copy()
stan["account_no"]=stan["account_no"].astype(str)
stan_gl= stan.query("account_no.str.len() == 8", engine="python")
stangl_41 = stan_gl[stan_gl["txn_code"] == 641]
stan_no_641 = stangl_41.query("vch_narration.str.len() <= 10", engine="python")
stan_no_641

,unit_id,tnx_date,tnx_no,batch_no,acc_unit_id,account_no,account_title,post_date,value_date,release_date,...,charge_code,trans_amt_type,drcr_flag,doc_id,instrument_no,narrative,trans_type,product_code,emp_id,tr_time
238,136,2021-08-05,17,5,1,85911022,H/O REALTIME ONLINE ATM INTER BRANCH - CURRENT...,2021-08-05,2021-08-05,NaT,...,,CONT,C,VCH,0,POSTED,INTBRH,GL,5777,11:19:31
239,136,2021-08-05,18,5,1,90111014,CASH - LOCAL,2021-08-05,2021-08-05,NaT,...,,ORGBRH,D,VCH,0,POSTED,INTBRH,GL,5777,11:19:31
289,136,2021-08-06,49,11,1,85911022,H/O REALTIME ONLINE ATM INTER BRANCH - CURRENT...,2021-08-06,2021-08-06,NaT,...,,CONT,C,VCH,0,POSTED,INTBRH,GL,5305,15:39:12
290,136,2021-08-06,50,11,1,90111014,CASH - LOCAL,2021-08-06,2021-08-06,NaT,...,,ORGBRH,D,VCH,0,POSTED,INTBRH,GL,5305,15:39:12
291,136,2021-08-06,60,12,1,85911022,H/O REALTIME ONLINE ATM INTER BRANCH - CURRENT...,2021-08-06,2021-08-06,NaT,...,,CONT,C,VCH,0,POSTED,INTBRH,GL,5777,17:22:41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11514,136,2022-01-31,140,1,1,90111014,CASH - LOCAL,2022-01-31,2022-01-31,NaT,...,,ORGBRH,D,VCH,0,POSTED,INTBRH,GL,5399,15:44:54
27992,136,2022-09-07,12,4,1,85911022,H/O REALTIME ONLINE ATM INTER BRANCH - CURRENT...,2022-09-07,2022-09-07,NaT,...,,CONT,C,VCH,0,POSTED,INTBRH,GL,6695,10:40:59
27993,136,2022-09-07,13,4,1,90111014,CASH - LOCAL,2022-09-07,2022-09-07,NaT,...,,ORGBRH,D,VCH,0,POSTED,INTBRH,GL,6695,10:40:59
27994,136,2022-09-07,14,5,1,85911022,H/O REALTIME ONLINE ATM INTER BRANCH - CURRENT...,2022-09-07,2022-09-07,NaT,...,,CONT,C,VCH,0,POSTED,INTBRH,GL,6695,10:41:55
27995,136,2022-09-07,15,5,1,90111014,CASH - LOCAL,2022-09-07,2022-09-07,NaT,...,,ORGBRH,D,VCH,0,POSTED,INTBRH,GL,6695,10:41:55

# -------- CD CTR without GL -----------

In [16]:
ctr = DTR.copy()
ctr1 = ctr[ctr["txn_code"] == 300]
ctr2 = ctr[ctr["txn_code"] == 640]
framesctr = [ctr1, ctr2]
ctr_con = pd.concat(framesctr)

#--------------------------------------------------------

ctr_con["account_no"]=ctr_con["account_no"].astype(str)
ctr_con= ctr_con.query("account_no.str.len() > 8", engine="python")
#--------------------------------------------------------
ctr_con["transaction_count"] = ctr_con.groupby(["account_no", "tnx_date"])["account_no"].transform("size")
#--------------------------------------------------------

#--------------------------------------------------------
ctr_con["sum"]= ctr_con.groupby(["account_no", "tnx_date"])["local_eqv"].transform(sum)
#--------------------------------------------------------
#ctr_con[["sum","transaction_count"]]

# ---------------CD CTR WITH GL-------------

In [17]:
ctr = DTR.copy()
ctr1 = ctr[ctr["txn_code"] == 300]
ctr2 = ctr[ctr["txn_code"] == 640]
framesctr = [ctr1, ctr2]
ctr_con = pd.concat(framesctr)

#--------------------------------------------------------

ctr_con["account_no"]=ctr_con["account_no"].astype(str)

#--------------------------------------------------------
ctr_con["transaction_count"] = ctr_con.groupby(["account_no", "tnx_date"])["account_no"].transform("size")
#--------------------------------------------------------
#data2 = ctr_con[ctr_con["transaction_count"] != 1]
#--------------------------------------------------------
ctr_con["sum"]= ctr_con.groupby(["account_no", "tnx_date"])["local_eqv"].transform(sum)
#--------------------------------------------------------
ctr_con["sum"] =ctr_con["sum"].abs()
#--------------------------------------------------------
twomilgl = ctr_con[ctr_con["sum"] >= 2000000 ]
twomilgl.shape

(7848, 29)

# ----------------- CW CTR WITHOUT GL --------------------
# not fixed without 1

In [11]:
ctrcw = DTR.copy()
ctr1cw = ctrcw[ctrcw["txn_code"] == 319]
ctr2cw = ctrcw[ctrcw["txn_code"] == 651]
framesctr = [ctr1cw, ctr2cw]
ctr_concw = pd.concat(framesctr)

#--------------------------------------------------------

ctr_concw["account_no"]=ctr_concw["account_no"].astype(str)
ctr_concw= ctr_concw.query("account_no.str.len() > 8", engine="python")
#--------------------------------------------------------
ctr_concw.groupby(["account_no", "tnx_date"])["account_no"].transform("size")

ctr_concw["transaction_count"] = ctr_concw.groupby(["account_no", "tnx_date"])["account_no"].transform("size")

data2cw = ctr_concw[ctr_concw["transaction_count"] != 1]

data2cw.groupby(["account_no", "tnx_date"])["local_eqv"].transform(sum)

data2cw["sum"]= data2cw.groupby(["account_no", "tnx_date"])["local_eqv"].transform(sum)
data2cw["sum"] =data2cw["sum"].abs()
#--------------------------------------------------------
twomilcw = data2cw[data2cw["sum"] >= 2000000 ]
twomilcw.shape

<ipython-input-11-dd4bfc81650b>:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2cw["sum"]= data2cw.groupby(["account_no", "tnx_date"])["local_eqv"].transform(sum)
<ipython-input-11-dd4bfc81650b>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2cw["sum"] =data2cw["sum"].abs()

(47, 29)

# ----------------- CW CTR WITH GL --------------------

In [19]:
ctrcw = DTR.copy()
ctr1cw = ctrcw[ctrcw["txn_code"] == 319]
ctr2cw = ctrcw[ctrcw["txn_code"] == 651]
framesctr = [ctr1cw, ctr2cw]
ctr_concw = pd.concat(framesctr)

#--------------------------------------------------------

ctr_concw["account_no"]=ctr_concw["account_no"].astype(str)

#--------------------------------------------------------
ctr_concw.groupby(["account_no", "tnx_date"])["account_no"].transform("size")

ctr_concw["transaction_count"] = ctr_concw.groupby(["account_no", "tnx_date"])["account_no"].transform("size")

#data2cw = ctr_concw[ctr_concw["transaction_count"] != 1]

ctr_concw.groupby(["account_no", "tnx_date"])["local_eqv"].transform(sum)

ctr_concw["sum"]= ctr_concw.groupby(["account_no", "tnx_date"])["local_eqv"].transform(sum)
ctr_concw["sum"] =ctr_concw["sum"].abs()
#--------------------------------------------------------
twomilcw = ctr_concw[ctr_concw["sum"] >= 2000000 ]
twomilcw.shape

(539, 29)

# ----------- vault late

In [13]:
vault = pd.read_excel("Vault Timings - Unit Wise_11072023_110703.xls")

In [14]:
vault_o = vault[['UNIT_ID', 'UNIT_NAME', 'POST_DATE', 'VAULT_OPEN_TIME']]
vault_p = vault[['UNIT_ID', 'UNIT_NAME', 'POST_DATE', 'VAULT_CLOSE_TIME']]

# ----------- vault late close---------------------

In [15]:
vault_p_late = vault_p[vault_p["VAULT_CLOSE_TIME"] > "19:30:00" ]
vault_p_late.shape

(4, 4)

# ----------- vault late open---------------------

In [16]:
vault_o_late = vault_o[vault_o["VAULT_OPEN_TIME"] > "09:03:00" ]
vault_o_late.shape

(14, 4)

# ------------- cash in transit -----------------

In [17]:
cit = pd.read_excel("90113016 Cash in Transit PKR.xls")

WARNING *** file size (188678) not 512 + multiple of sector size (512)

In [18]:
cit = cit.iloc[13:]
cit .columns = cit .iloc[0]

# Drop the first row
cit  = cit[1:]
cit["Balance"] =cit["Balance"].fillna(0)
cit = cit[cit["Balance"] != 0]
cit

13,NaN,Post Date,NaN,NaN,NaN,NaN,Value Date,NaN,NaN,NaN,...,NaN,Credit,NaN,NaN,NaN,NaN,Balance,NaN,NaN,NaN
339,NaN,2023-04-12 00:00:00,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,-5020000,NaN,NaN,NaN
393,NaN,2023-05-11 00:00:00,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,-9600000,NaN,NaN,NaN
479,== Time :-,NaN,NaN,NaN,NaN,2023-07-11 15:40:17,NaN,NaN,==============================================...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,UID # :-,NaN,NaN,6946.0

# --------- late utility bill---------

In [20]:
ubill = DTR.copy()

#----------------------------------------------------------------------


values_to_removes = ["fed", "FED", "Fed"]

# Remove the rows where the column value is in the list of values to remove
column_names = "vch_narration"

def contains_fed(value):
    for word in values_to_removes:
        if word in value:
            return True
    return False


#df = df[~df[column_name].apply(contains_fed)]
ubil = ubill[~ubill[column_names].apply(contains_fed)]

#----------------------------------------------------------------------
ubil["vch_narration"] =ubil["vch_narration"].str.lower()


#----------------------------------------------------------------------
column_names = "vch_narration"
values_to_removess = ["bil", "bills", "bill","bils"]
def contains_fed(value):
    for word in values_to_removess:
        if word in value:
            return True
    return False


#df = df[~df[column_name].apply(contains_fed)]
utility_late = ubil[ubil[column_names].apply(contains_fed)]
utility_late = utility_late[utility_late["tr_time"] > "19:00:00" ]

<ipython-input-20-14e2367d74c7>:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ubil["vch_narration"] =ubil["vch_narration"].str.lower()

In [30]:
utility_late

,unit_id,tnx_date,tnx_no,batch_no,acc_unit_id,account_no,account_title,post_date,value_date,release_date,...,charge_code,trans_amt_type,drcr_flag,doc_id,instrument_no,narrative,trans_type,product_code,emp_id,tr_time
7694,703,2022-12-02,232,39,703,84521044,COLLECTION A/C UTILITY BILLS - WAPDA,2022-12-02,2022-12-02,NaT,...,,TRAN,D,VCH,0,POSTED,TRF,GL,6976,19:05:42
7695,703,2022-12-02,233,39,703,74522040,COMM A/C UTILITY - WAPDA,2022-12-02,2022-12-02,NaT,...,,TRAN,C,VCH,0,POSTED,TRF,GL,6976,19:05:42
9846,703,2022-12-30,128,22,703,84521044,COLLECTION A/C UTILITY BILLS - WAPDA,2022-12-30,2022-12-30,NaT,...,,TRAN,D,VCH,0,POSTED,TRF,GL,7152,20:06:48
9847,703,2022-12-30,129,22,703,74522040,COMM A/C UTILITY - WAPDA,2022-12-30,2022-12-30,NaT,...,,TRAN,C,VCH,0,POSTED,TRF,GL,7152,20:06:48
21586,703,2023-06-27,277,49,703,84521044,COLLECTION A/C UTILITY BILLS - WAPDA,2023-06-27,2023-06-27,NaT,...,,TRAN,D,VCH,0,POSTED,TRF,GL,7152,20:31:39
21587,703,2023-06-27,278,49,703,74522040,COMM A/C UTILITY - WAPDA,2023-06-27,2023-06-27,NaT,...,,TRAN,C,VCH,0,POSTED,TRF,GL,7152,20:31:39

In [27]:
#ubil = ubill[ubill["vch_narration"].str.contains(r"b|BILL")]
#ubil[ubil["vch_narration"].str.match(r"|bill")]

In [22]:
#ubill[ubill["vch_narration"].str.contains(r"b|FED")]

# -------------- KYC IMPORT ------------------

In [23]:
KYC = pd.read_excel("Accounts KYC Review_11072023_110733.xls")

In [24]:
KYC["Account_Status"] = KYC["Account_Status"].str.upper()
KYC["Risk_level"] = KYC["Risk_level"].str.lower()

In [25]:
KYC_NORMAL = KYC[KYC["Account_Status"] == "NORMAL"]

*-------- ACCOUNT KYC REVIEW BLANK RISK ---------------------

In [26]:
blank = KYC_NORMAL.copy()
bol = blank["Risk_level"].isnull()
blank = blank[bol]
blank

Empty DataFrame
Columns: [Unit_ID, Unit_Name, Relation_ID, Account_No, Account_Title, Open_Date, Product_Code, Currency_Code, Revise_Date, Purpose_of_Account, Saving, Salary_Wage, Sl_Pr_Asset, Service_Revenue, Locker, Invest_Invstret, Import_Export, Financing, Business, Consumer_Fin, Social_Welf, Home_Forign_Remt, Other_Purpose_Account, Source_of_Income, Salary_Income, Business_Income, Agricultural_Income, Rental_Income, Income_From_Invest, Services_Revenue, Commission_Income, Donation, Other_Source_of_Income, Transaction_Type, Cash, Clearing, Online_Banking, Internet_Banking, Forign_Remittance, Other_Trans_Type, CR_No_of_Trans, CR_No_of_Amount, DR_No_of_Trans, DR_No_of_Amount, PEP_Status, Risk_level, Account_Status, Report_Date]
Index: []

[0 rows x 48 columns]

# *-------- ACCOUNT KYC REVIEW **high** RISK ---------------------

In [27]:
high = KYC_NORMAL.copy()


#-----------

high = high[high["Risk_level"] == "high"]

current_date = pd.to_datetime("2023-07-01")


#-------------------------------------------------------
high["datediff"] = high["Revise_Date"]- current_date

#-------------------------------

high_final =high[high["datediff"].dt.days < -365]

high_final

,Unit_ID,Unit_Name,Relation_ID,Account_No,Account_Title,Open_Date,Product_Code,Currency_Code,Revise_Date,Purpose_of_Account,...,Other_Trans_Type,CR_No_of_Trans,CR_No_of_Amount,DR_No_of_Trans,DR_No_of_Amount,PEP_Status,Risk_level,Account_Status,Report_Date,datediff
1496,703,M.A JINNAH ROAD QUETTA BRANCH,297702,117297702012,SYED BURHAN ALI / TALAT JABEEN,2014-02-04,ABPLMB,PKRS,2022-04-12 13:48:05,Y,...,-,10.0,1000000,10.0,1000000,No,high,NORMAL,2023-07-10,-445 days +13:48:05

# *-------- ACCOUNT KYC REVIEW **medium** RISK ---------------------

In [28]:
medium = KYC_NORMAL.copy()


#-----------

medium = medium[medium["Risk_level"] == "medium"]

current_date = pd.to_datetime("2023-07-01")


#-------------------------------------------------------
medium["datediff"] = medium["Revise_Date"]- current_date

#-------------------------------

medium_final =medium[medium["datediff"].dt.days < -730]

medium_final

,Unit_ID,Unit_Name,Relation_ID,Account_No,Account_Title,Open_Date,Product_Code,Currency_Code,Revise_Date,Purpose_of_Account,...,Other_Trans_Type,CR_No_of_Trans,CR_No_of_Amount,DR_No_of_Trans,DR_No_of_Amount,PEP_Status,Risk_level,Account_Status,Report_Date,datediff
739,703,M.A JINNAH ROAD QUETTA BRANCH,519628,102519628012,NAIK NAZAR,2021-01-14,CD,PKRS,2021-01-14,N,...,NaN,10.0,500000,20.0,500000,no,medium,NORMAL,2023-07-10,-898 days
741,703,M.A JINNAH ROAD QUETTA BRANCH,519630,102519630027,ASIF ALI,2021-01-29,CD,PKRS,2021-01-29,N,...,NaN,10.0,500000,20.0,500000,no,medium,NORMAL,2023-07-10,-883 days
743,703,M.A JINNAH ROAD QUETTA BRANCH,519632,102519632011,MOIN KHAN,2021-01-14,CD,PKRS,2021-01-14,N,...,NaN,10.0,500000,20.0,500000,no,medium,NORMAL,2023-07-10,-898 days

# *-------- ACCOUNT KYC REVIEW **low** RISK ---------------------

In [29]:
low = KYC_NORMAL.copy()


#-----------

low = low[low["Risk_level"] == "low"]

current_date = pd.to_datetime("2023-07-01")


#-------------------------------------------------------
low["datediff"] = low["Revise_Date"]- current_date

#-------------------------------

low_final =low[low["datediff"].dt.days < -3650]

low_final

Empty DataFrame
Columns: [Unit_ID, Unit_Name, Relation_ID, Account_No, Account_Title, Open_Date, Product_Code, Currency_Code, Revise_Date, Purpose_of_Account, Saving, Salary_Wage, Sl_Pr_Asset, Service_Revenue, Locker, Invest_Invstret, Import_Export, Financing, Business, Consumer_Fin, Social_Welf, Home_Forign_Remt, Other_Purpose_Account, Source_of_Income, Salary_Income, Business_Income, Agricultural_Income, Rental_Income, Income_From_Invest, Services_Revenue, Commission_Income, Donation, Other_Source_of_Income, Transaction_Type, Cash, Clearing, Online_Banking, Internet_Banking, Forign_Remittance, Other_Trans_Type, CR_No_of_Trans, CR_No_of_Amount, DR_No_of_Trans, DR_No_of_Amount, PEP_Status, Risk_level, Account_Status, Report_Date, datediff]
Index: []

[0 rows x 49 columns]

In [30]:
#low["Revise_Date"]- current_date

# ---------- donation to source income ----------------

In [31]:
dtn = KYC_NORMAL.copy()
#-----------------------------------------------

dtn["Donation"] = dtn["Donation"].str.upper()
dtn["Source_of_Income"] = dtn["Source_of_Income"].str.upper()

#----------------------------------------------------------
donation_source = dtn[(dtn["Donation"]=="Y") & (dtn["Source_of_Income"] =="Y")]
donation_source

,Unit_ID,Unit_Name,Relation_ID,Account_No,Account_Title,Open_Date,Product_Code,Currency_Code,Revise_Date,Purpose_of_Account,...,Forign_Remittance,Other_Trans_Type,CR_No_of_Trans,CR_No_of_Amount,DR_No_of_Trans,DR_No_of_Amount,PEP_Status,Risk_level,Account_Status,Report_Date
160,703,M.A JINNAH ROAD QUETTA BRANCH,297291,102297291038,TAMEER-E-KHALAQ FOUNDATION,2013-04-02,CD,PKRS,2023-02-23 11:12:08,Y,...,NaN,-,20.0,100000000,20.0,100000000,No,high,NORMAL,2023-07-10
1319,703,M.A JINNAH ROAD QUETTA BRANCH,297291,110297291025,TAMEER E KHALAQ FOUNDATION,2013-04-02,MUD,PKRS,2022-12-29 15:38:27,Y,...,NaN,-,20.0,50000000,20.0,50000000,No,high,NORMAL,2023-07-10
1467,703,M.A JINNAH ROAD QUETTA BRANCH,297291,117297291019,TAMEER-E-KHALAQ FOUNDATION,2017-03-06,ABPLMB,PKRS,2022-12-29 15:38:20,Y,...,NaN,-,20.0,50000000,20.0,50000000,No,high,NORMAL,2023-07-10

# ----------------------- PO WITHOUT INSTRUMENT ------------------------

In [32]:
pwi = pd.read_excel("Remittance Register_11072023_110712.xls")
#-------------------------------------------------------------
pwi["Status"] =pwi["Status"].str.upper()
#-------------------------------------------------------------
pwi_c = pwi[pwi["Status"] != "C"]
pwi_c_icd = pwi_c[pwi_c['Instrument_Type'] != "ICD"]
#-------------------------------------------------------------
po_without = pwi_c_icd[pwi_c_icd["Cheque_No"] == 0]
po_without

,Unit_ID,Unit_Name,Application_No,Application_Date,Instrument_Type,Relation_Id,Account_No,Account_Title,Chg_Account_No,Cheque_No,Currency_Code,Control_No,Amount,Beneficiary_name_1,Beneficiary_name_2,Status,Status_Date,Printing_Date,Start_Date,End_Date
0,703,M.A JINNAH ROAD QUETTA BRANCH,41,2012-04-17,PO,NaN,110296824015,SAADULLAH KHAN,NaN,0,PKRS,3.806730e+05,1180.0,CONTROLLER OF EXAMINATION UOB QUETTA,NaN,Q,2023-04-11,2012-04-17,2022-08-01,2023-06-30
1,703,M.A JINNAH ROAD QUETTA BRANCH,30,2012-11-26,PO,NaN,102296725018,QESCO BILL COLLECTION,NaN,0,PKRS,3.807480e+05,108555.0,REVENUE MANAGER QESCO,NaN,Q,2023-04-11,2012-11-26,2022-08-01,2023-06-30
2,703,M.A JINNAH ROAD QUETTA BRANCH,32,2012-11-26,PO,NaN,102296725018,QESCO BILL COLLECTION,NaN,0,PKRS,3.807490e+05,10.0,REVENUE MANAGER QESCO,NaN,Q,2023-04-11,2012-11-26,2022-08-01,2023-06-30
46,703,M.A JINNAH ROAD QUETTA BRANCH,4,2022-07-18,PO,0.0,84521044,COLLECTION A/C UTILITY BILLS - WAPDA,0.0,0,PKRS,7.031001e+09,73985.0,QESCO COLLECTION A/C,NaN,P,2022-08-04,2022-07-27,2022-08-01,2023-06-30
47,703,M.A JINNAH ROAD QUETTA BRANCH,1,2022-07-27,PO,0.0,84521044,COLLECTION A/C UTILITY BILLS - WAPDA,0.0,0,PKRS,7.031001e+09,1699.0,QESCO COLLECTION A/C,NaN,P,2022-08-04,2022-07-27,2022-08-01,2023-06-30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
693,703,M.A JINNAH ROAD QUETTA BRANCH,5,2023-06-09,PO,11264396.0,102298002018,DIGITECH SOLUTIONS,0.0,0,PKRS,7.031001e+09,200000.0,DIRECTORATE GENERAL POPULATION WELFARE,NaN,I,2023-06-09,2023-06-09,2022-08-01,2023-06-30
695,703,M.A JINNAH ROAD QUETTA BRANCH,2,2023-06-09,PO,0.0,84113035,SUSPENSE A/C PAY ORDER/DEMAND DRAFT,0.0,0,PKRS,7.031001e+09,918.0,M&P EXPRESS LOGISTICS (PRIVATE) LIMITED,NaN,I,2023-06-09,2023-06-09,2022-08-01,2023-06-30
715,703,M.A JINNAH ROAD QUETTA BRANCH,4,2023-06-16,PO,0.0,84521044,COLLECTION A/C UTILITY BILLS - WAPDA,0.0,0,PKRS,7.031001e+09,2456.0,QESCO COLLECTION A/C,NaN,P,2023-06-20,2023-06-16,2022-08-01,2023-06-30
731,703,M.A JINNAH ROAD QUETTA BRANCH,2,2023-06-22,PO,0.0,84521044,COLLECTION A/C UTILITY BILLS - WAPDA,0.0,0,PKRS,7.031001e+09,94485.0,QESCO COLLECTION A/C,NaN,P,2023-06-27,2023-06-22,2022-08-01,2023-06-30
744,703,M.A JINNAH ROAD QUETTA BRANCH,2,2023-06-27,PO,0.0,84521044,COLLECTION A/C UTILITY BILLS - WAPDA,0.0,0,PKRS,7.031001e+09,778.0,QESCO COLLECTION,NaN,P,2023-07-05,2023-06-27,2022-08-01,2023-06-30

# ----------------------------------- UNCLAIMED --------------------------

In [33]:
acc_st = pd.read_excel("Account Status_11072023_110727.xls")

acc_st["ACCOUNT_STATUS"] = acc_st["ACCOUNT_STATUS"].str.upper()

acc_st = acc_st[acc_st["ACCOUNT_STATUS"] == "DORMANT"]

current_date_a = pd.to_datetime("2023-06-30")


#-------------------------------------------------------
acc_st["datediff"] = acc_st["STATUS_DATE"]- current_date_a

#-------------------------------

unclaimed =acc_st[acc_st["datediff"].dt.days < -3650]

unclaimed

,UNIT_ID,UNIT_NAME,PRODUCT_CODE,CURRENCY_CODE,RELATION_ID,OLD_ACCOUNT_NO,ACCOUNT_NO,ACCOUNT_TITLE,CLOSING_BALANCE,LOCAL_EQUIV,OPEN_DATE,STATUS_DATE,ACCOUNT_STATUS,CAP_WHTAX,HOLD_MAIL,CUSTOMER_TYPE,OPERATION_TYPE,NATIONALITY,RES_FLAG,datediff
16,703,M.A JINNAH ROAD QUETTA BRANCH,ABPLMB,PKRS,297026,4.013586e+13,117297026018,NADIR ALI KHAN,116.20,116.20,2011-10-19,2011-12-09,DORMANT,Y,N,INDIVIDUAL,SINGLY OPERATED,NaN,Residents,-4221 days
489,703,M.A JINNAH ROAD QUETTA BRANCH,CD,PKRS,296854,4.001586e+13,102296854011,SAIF & SONS,0.12,0.12,2011-02-01,2011-05-21,DORMANT,NaN,N,SOLE PROPRIETORSHIP,SINGLY OPERATED,NaN,Residents,-4423 days
536,703,M.A JINNAH ROAD QUETTA BRANCH,CD,PKRS,297092,4.001586e+13,102297092016,AHMAD ULLAH,0.00,0.00,2012-01-19,2012-02-27,DORMANT,NaN,N,INDIVIDUAL,SINGLY OPERATED,NaN,Residents,-4141 days
1421,703,M.A JINNAH ROAD QUETTA BRANCH,MUD,PKRS,296669,4.010586e+13,116296669017,HAJI MOHAMMAD AKBER,2167.20,2167.20,2010-02-15,2010-09-21,DORMANT,Y,N,INDIVIDUAL,SINGLY OPERATED,NaN,Residents,-4665 days
1424,703,M.A JINNAH ROAD QUETTA BRANCH,MUD,PKRS,296676,4.011586e+13,110296676010,SYED MUHAMMAD SIDDIQUE,1448.46,1448.46,2010-02-15,2011-12-22,DORMANT,Y,N,INDIVIDUAL,EITHER OR SURVIVOR,NaN,Residents,-4208 days
1426,703,M.A JINNAH ROAD QUETTA BRANCH,MUD,PKRS,296680,4.010586e+13,116296680011,JAMAL NASIR,238.66,238.66,2010-02-19,2010-07-16,DORMANT,Y,N,INDIVIDUAL,SINGLY OPERATED,NaN,Residents,-4732 days
1433,703,M.A JINNAH ROAD QUETTA BRANCH,MUD,PKRS,296706,4.011586e+13,110296706015,AMIR ALI,2694.22,2694.22,2010-02-25,2010-07-23,DORMANT,Y,N,INDIVIDUAL,SINGLY OPERATED,NaN,Residents,-4725 days
1434,703,M.A JINNAH ROAD QUETTA BRANCH,MUD,PKRS,296709,4.011586e+13,110296709011,TAHIR BALOCH,357.33,357.33,2010-03-08,2010-04-20,DORMANT,Y,N,INDIVIDUAL,SINGLY OPERATED,NaN,Residents,-4819 days
1436,703,M.A JINNAH ROAD QUETTA BRANCH,MUD,PKRS,296718,4.011586e+13,110296718010,ONAZIA MARYAM,32338.67,32338.67,2010-03-17,2010-03-31,DORMANT,Y,N,INDIVIDUAL,SINGLY OPERATED,NaN,Residents,-4839 days
1438,703,M.A JINNAH ROAD QUETTA BRANCH,MUD,PKRS,296723,4.011586e+13,110296723011,FLAVIA FRANCIS,445.00,445.00,2010-03-24,2011-04-30,DORMANT,Y,N,INDIVIDUAL,SINGLY OPERATED,NaN,Residents,-4444 days
1439,703,M.A JINNAH ROAD QUETTA BRANCH,MUD,PKRS,296724,4.010586e+13,116296724015,MOHAMMAD ZAFAR ULLAH,400.43,400.43,2010-03-19,2010-12-09,DORMANT,Y,N,INDIVIDUAL,SINGLY OPERATED,NaN,Residents,-4586 days
1440,703,M.A JINNAH ROAD QUETTA BRANCH,MUD,PKRS,296729,4.010586e+13,116296729015,TAYABA ALTAF,670.66,670.66,2010-03-30,2010-04-05,DORMANT,Y,N,INDIVIDUAL,SINGLY OPERATED,NaN,Residents,-4834 days
1442,703,M.A JINNAH ROAD QUETTA BRANCH,MUD,PKRS,296734,4.010586e+13,116296734016,ABDUL RAUF KHAN,3069.95,3069.95,2010-03-25,2011-02-14,DORMANT,Y,N,INDIVIDUAL,SINGLY OPERATED,NaN,Residents,-4519 days
1447,703,M.A JINNAH ROAD QUETTA BRANCH,MUD,PKRS,296753,4.010586e+13,116296753016,AMAN ULLAH /RASHIDHA AMAN,2.76,2.76,2010-05-17,2011-08-10,DORMANT,Y,N,JOINT,EITHER OR SURVIVOR,NaN,Residents,-4342 days
1448,703,M.A JINNAH ROAD QUETTA BRANCH,MUD,PKRS,296756,4.010586e+13,116296756012,FAHAD/ FAISAL/ HAMEEDA,4930.52,4930.52,2010-05-17,2010-07-06,DORMANT,Y,N,JOINT,EITHER OR SURVIVOR,NaN,Residents,-4742 days
1454,703,M.A JINNAH ROAD QUETTA BRANCH,MUD,PKRS,296775,4.010586e+13,116296775012,RAHUL KUMAR,139.16,139.16,2010-06-03,2011-01-08,DORMANT,Y,N,INDIVIDUAL,SINGLY OPERATED,NaN,Residents,-4556 days
1455,703,M.A JINNAH ROAD QUETTA BRANCH,MUD,PKRS,296776,4.010586e+13,116296776014,BIBI SAMINA,7022.63,7022.63,2010-06-25,2010-10-19,DORMANT,Y,N,INDIVIDUAL,SINGLY OPERATED,NaN,Residents,-4637 days
1457,703,M.A JINNAH ROAD QUETTA BRANCH,MUD,PKRS,296802,4.010586e+13,116296802011,SYED MUJEEB-UL-HASSAN,144.24,144.24,2010-08-11,2011-09-08,DORMANT,Y,N,INDIVIDUAL,SINGLY OPERATED,NaN,Residents,-4313 days
1458,703,M.A JINNAH ROAD QUETTA BRANCH,MUD,PKRS,296803,4.010586e+13,116296803013,LAL MUHAMMAD,313.10,313.10,2010-08-27,2011-07-05,DORMANT,Y,N,INDIVIDUAL,SINGLY OPERATED,NaN,Residents,-4378 days
1459,703,M.A JINNAH ROAD QUETTA BRANCH,MUD,PKRS,296805,4.010586e+13,116296805017,DIRECTOR GENERAL QDA,243929.79,243929.79,2010-08-30,2011-02-24,DORMANT,Y,N,GOVERNMENT INSTITUTION,JOINTLY OPERATED,NaN,Residents,-4509 days
1466,703,M.A JINNAH ROAD QUETTA BRANCH,MUD,PKRS,296819,4.011586e+13,110296819014,SHAMIM,228.14,228.14,2010-10-20,2012-01-12,DORMANT,Y,N,INDIVIDUAL,SINGLY OPERATED,NaN,Residents,-4187 days
1470,703,M.A JINNAH ROAD QUETTA BRANCH,MUD,PKRS,296829,4.011586e+13,110296829015,ATIF MUNIR,1142.56,1142.56,2010-12-28,2011-07-05,DORMANT,Y,N,INDIVIDUAL,SINGLY OPERATED,NaN,Residents,-4378 days
1473,703,M.A JINNAH ROAD QUETTA BRANCH,MUD,PKRS,296837,4.011586e+13,110296837012,MUHAMMAD AFZAL,5722.72,5722.72,2011-01-06,2011-11-08,DORMANT,Y,N,INDIVIDUAL,SINGLY OPERATED,NaN,Residents,-4252 days
1481,703,M.A JINNAH ROAD QUETTA BRANCH,MUD,PKRS,296866,4.010586e+13,116296866015,ASMAT ULLAH,12535.44,12535.44,2011-06-21,2011-12-21,DORMANT,Y,N,INDIVIDUAL,JOINTLY OPERATED,NaN,Residents,-4209 days
1484,703,M.A JINNAH ROAD QUETTA BRANCH,MUD,PKRS,296885,4.011586e+13,110296885013,JAHANZAIB TAREEN,134.31,134.31,2011-03-11,2011-12-31,DORMANT,Y,N,INDIVIDUAL,SINGLY OPERATED,NaN,Residents,-4199 days
1488,703,M.A JINNAH ROAD QUETTA BRANCH,MUD,PKRS,296895,4.011586e+13,110296895014,JAMAL SHAH,15103.65,15103.65,2011-04-12,2011-10-18,DORMANT,Y,N,INDIVIDUAL,SINGLY OPERATED,NaN,Residents,-4273 days
1489,703,M.A JINNAH ROAD QUETTA BRANCH,MUD,PKRS,296903,4.010586e+13,116296903025,MUHAMMAD HAROON,39.63,39.63,2011-05-25,2011-08-18,DORMANT,Y,N,INDIVIDUAL,SINGLY OPERATED,NaN,Residents,-4334 days
1491,703,M.A JINNAH ROAD QUETTA BRANCH,MUD,PKRS,296911,4.010586e+13,116296911012,MUHAMMAD ALI,180.98,180.98,2011-05-25,2012-01-09,DORMANT,Y,N,INDIVIDUAL,SINGLY OPERATED,NaN,Residents,-4190 days
1492,703,M.A JINNAH ROAD QUETTA BRANCH,MUD,PKRS,296912,4.010586e+13,116296912014,MUHAMMAD SOHAIB,38.19,38.19,2011-05-25,2011-05-28,DORMANT,Y,N,INDIVIDUAL,SINGLY OPERATED,NaN,Residents,-4416 days
1500,703,M.A JINNAH ROAD QUETTA BRANCH,MUD,PKRS,296961,4.011586e+13,110296961015,JAFFAR KHAN,638.88,638.88,2011-07-22,2011-08-30,DORMANT,Y,N,INDIVIDUAL,SINGLY OPERATED,NaN,Residents,-4322 days

# Create an Excel writer object
excel_file = "Annexure.xlsx"
writer = pd.ExcelWriter(excel_file, engine='xlsxwriter')

# Dictionary containing DataFrames and corresponding sheet names
dataframes = {
    'Unclaimed': unclaimed,
    'PO without instrument': po_without,
    'Donation to Source income': donation_source,
    'Low risk': low_final, 
    'Medium risk': medium_final, 
    'High risk': high_final, 
    'Blank risk': blank,
    'Utility bill': utility_late,
    'Cash in transit': cit,
    'Vault Open late': vault_o_late,
    'Vault Late close': vault_p_late,
    'CW CTR': twomilcw,
    'CR CTR': twomilgl,
    'STAN no 641': stan_no_641,
    'Inward clearing': inward_clearing,
    'Withdrawl late': w_late,
    'Deposit late': deposit_late,
    'PO Abreviated': po_abreviated,
    'Zakat exemption': zakat_exemp,
    'Vault close late':vault_p_late,
    'vault open late':vault_o_late

    
    
    # Add more sheets and corresponding DataFrames as needed
}

# Loop through the dictionary and write each DataFrame to a separate sheet
for sheet_name, dataframe in dataframes.items():
    dataframe.to_excel(writer, sheet_name=sheet_name, index=False)

# Save the Excel file
writer.save()

# ----------------- PO ABREVIATED --------------------

In [12]:
po_ab = pd.read_excel("Remittance Register_11072023_110712.xls")


po_ab["Status"] =po_ab["Status"].str.upper()
#-------------------------------------------------------------
po_ab = po_ab[po_ab["Status"] != "C"]
po_ab = po_ab[po_ab['Instrument_Type'] != "ICD"]

#-------------------------------------------------------------

def is_abbreviated(name):
    for i in range(len(name)):
        if not name[i].isalpha() and name[i] != '.':
            return True
    return False
#-------------------------------------------------------------

po_abreviated = po_ab[po_ab["Unit_Name"].apply(is_abbreviated)]
po_abreviated

,Unit_ID,Unit_Name,Application_No,Application_Date,Instrument_Type,Relation_Id,Account_No,Account_Title,Chg_Account_No,Cheque_No,Currency_Code,Control_No,Amount,Beneficiary_name_1,Beneficiary_name_2,Status,Status_Date,Printing_Date,Start_Date,End_Date
0,703,M.A JINNAH ROAD QUETTA BRANCH,41,2012-04-17,PO,NaN,110296824015,SAADULLAH KHAN,NaN,0,PKRS,3.806730e+05,1180.0,CONTROLLER OF EXAMINATION UOB QUETTA,NaN,Q,2023-04-11,2012-04-17,2022-08-01,2023-06-30
1,703,M.A JINNAH ROAD QUETTA BRANCH,30,2012-11-26,PO,NaN,102296725018,QESCO BILL COLLECTION,NaN,0,PKRS,3.807480e+05,108555.0,REVENUE MANAGER QESCO,NaN,Q,2023-04-11,2012-11-26,2022-08-01,2023-06-30
2,703,M.A JINNAH ROAD QUETTA BRANCH,32,2012-11-26,PO,NaN,102296725018,QESCO BILL COLLECTION,NaN,0,PKRS,3.807490e+05,10.0,REVENUE MANAGER QESCO,NaN,Q,2023-04-11,2012-11-26,2022-08-01,2023-06-30
46,703,M.A JINNAH ROAD QUETTA BRANCH,4,2022-07-18,PO,0.0,84521044,COLLECTION A/C UTILITY BILLS - WAPDA,0.0,0,PKRS,7.031001e+09,73985.0,QESCO COLLECTION A/C,NaN,P,2022-08-04,2022-07-27,2022-08-01,2023-06-30
47,703,M.A JINNAH ROAD QUETTA BRANCH,1,2022-07-27,PO,0.0,84521044,COLLECTION A/C UTILITY BILLS - WAPDA,0.0,0,PKRS,7.031001e+09,1699.0,QESCO COLLECTION A/C,NaN,P,2022-08-04,2022-07-27,2022-08-01,2023-06-30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
693,703,M.A JINNAH ROAD QUETTA BRANCH,5,2023-06-09,PO,11264396.0,102298002018,DIGITECH SOLUTIONS,0.0,0,PKRS,7.031001e+09,200000.0,DIRECTORATE GENERAL POPULATION WELFARE,NaN,I,2023-06-09,2023-06-09,2022-08-01,2023-06-30
695,703,M.A JINNAH ROAD QUETTA BRANCH,2,2023-06-09,PO,0.0,84113035,SUSPENSE A/C PAY ORDER/DEMAND DRAFT,0.0,0,PKRS,7.031001e+09,918.0,M&P EXPRESS LOGISTICS (PRIVATE) LIMITED,NaN,I,2023-06-09,2023-06-09,2022-08-01,2023-06-30
715,703,M.A JINNAH ROAD QUETTA BRANCH,4,2023-06-16,PO,0.0,84521044,COLLECTION A/C UTILITY BILLS - WAPDA,0.0,0,PKRS,7.031001e+09,2456.0,QESCO COLLECTION A/C,NaN,P,2023-06-20,2023-06-16,2022-08-01,2023-06-30
731,703,M.A JINNAH ROAD QUETTA BRANCH,2,2023-06-22,PO,0.0,84521044,COLLECTION A/C UTILITY BILLS - WAPDA,0.0,0,PKRS,7.031001e+09,94485.0,QESCO COLLECTION A/C,NaN,P,2023-06-27,2023-06-22,2022-08-01,2023-06-30
744,703,M.A JINNAH ROAD QUETTA BRANCH,2,2023-06-27,PO,0.0,84521044,COLLECTION A/C UTILITY BILLS - WAPDA,0.0,0,PKRS,7.031001e+09,778.0,QESCO COLLECTION,NaN,P,2023-07-05,2023-06-27,2022-08-01,2023-06-30

# ----------------- PO ABBREIATED EXPERIMENT --------------------
*RETURN IF CONTAINS ., LESS THAN 2, AND ALPHA

import pandas as pd

# Create a DataFrame
df = pd.DataFrame({
  "name": ["Bob", "jo Mary", "J0 JOHN", "Jane.Doe", "JOSEPHG MARK"],
  "age": [40, 33, 50, 60, 70]
})

# Define a function to check if a name is abbreviated
def is_abbreviated(name):
    for i in range(len(name)):
        if not name[i].isalpha() or name[i] == '.' or len(name[i]) >=2:
            return True
    return False

# Filter the DataFrame to only include rows where the name is abbreviated
df = df[df["name"].apply(is_abbreviated)]

# Print the filtered DataFrame
print(df)

# ------------------------ Zakat exemption ----------------------------

In [19]:
ze = pd.read_excel("Zakat Exemption Accounts_11072023_110737.xls")

column_name = "Account_Title"

# Get the list of values to remove
values_to_remove = ["Enterprise", "enterprises", "ltd","Limited","limited","CO","corperate","Lancer","Motors","motor","MOTORS"
                   , "Goverment", "goverment","Division","Divisions","divisions","Soft","International","estate","Real","real",
                   "Real estate","contractor","Contractor","Plaza","govt", "COMPANY","trader"]

def contains_fed(value):
    for word in values_to_remove:
        if word in value.lower():
            return True
    return False


#df = df[~df[column_name].apply(contains_fed)]
zakat_exemp = ze[ze[column_name].apply(contains_fed)]
zakat_exemp

,Unit_Id,Unit_Name,Account_No,Product,Currency,Account_Title,Open_Date,Deposit_Type,Closing_Bal,Local_Equiv,Start_Date,ZE_Flag,ZE_Code,Narrative,Statement_Date
62,703,M.A JINNAH ROAD QUETTA BRANCH,105492073019,ABPA,PKRS,ZAIN ENTERPRISES,2020-06-25,SAVING,1866141.40,1866141.40,2021-03-12,N,1,DUE TO FIQAH,2023-07-10
196,703,M.A JINNAH ROAD QUETTA BRANCH,117297623024,ABPLMB,PKRS,HOOR ENTERPRISES,2013-11-07,SAVING,215.30,215.30,2013-11-07,N,1,DUE TO FIQAH,2023-07-10
211,703,M.A JINNAH ROAD QUETTA BRANCH,117298053016,ABPLMB,PKRS,GLG TRADERS,2015-12-10,SAVING,0.82,0.82,2015-12-10,N,2,NON MUSLIMS,2023-07-10

# FINAL ANNEXURE

In [ ]:
# Create an Excel writer object
excel_file = "Annexure.xlsx"
writer = pd.ExcelWriter(excel_file, engine='xlsxwriter')

# Dictionary containing DataFrames and corresponding sheet names
dataframes = {
    'Unclaimed': unclaimed,
    'PO without instrument': po_without,
    'Donation to Source income': donation_source,
    'Low risk': low_final, 
    'Medium risk': medium_final, 
    'High risk': high_final, 
    'Blank risk': blank,
    'Utility bill': utility_late,
    'Cash in transit': cit,
    'Vault Open late': vault_o_late,
    'Vault Late close': vault_p_late,
    'CW CTR': twomilcw,
    'CR CTR': twomilgl,
    'STAN no 641': stan_no_641,
    'Inward clearing': inward_clearing,
    'Withdrawl late': w_late,
    'Deposit late': deposit_late,
    'PO Abreviated': po_abreviated,
    'Zakat exemption': zakat_exemp,
    'Vault close late':vault_p_late,
    'vault open late':vault_o_late

    
    
    # Add more sheets and corresponding DataFrames as needed
}

# Loop through the dictionary and write each DataFrame to a separate sheet
for sheet_name, dataframe in dataframes.items():
    dataframe.to_excel(writer, sheet_name=sheet_name, index=False)

# Save the Excel file
writer.save()

In [23]:
# Create an Excel writer object
excel_file = "Annexure136.xlsx"
writer = pd.ExcelWriter(excel_file, engine='xlsxwriter')

# Dictionary containing DataFrames and corresponding sheet names
dataframes = {
    
    'Utility bill': utility_late,
    'CW CTR': twomilcw,
    'CD CTR': twomilgl,
    'STAN no 641': stan_no_641,
    'Inward clearing': inward_clearing,
    'Withdrawl late': w_late,
    'Deposit late': deposit_late

    
    
    # Add more sheets and corresponding DataFrames as needed
}

# Loop through the dictionary and write each DataFrame to a separate sheet
for sheet_name, dataframe in dataframes.items():
    dataframe.to_excel(writer, sheet_name=sheet_name, index=False)

# Save the Excel file
writer.save()